*.pyc
*.conf
.env/
.env
venv/
.idea/
.cache/
docs/builddir
docs/build
docs/_build/
docs/full/builddir
docs/full/build
docs/full/_build/
docs/console/builddir
docs/console/build
docs/console/_build/
local_settings.py
version.py
scripts/dynamodb/
.vscode-upload.json
tests/_trial_temp
static/
**/static/
.coverage
htmlcov/
supervisor/
*.sqlite3
